<div class="mdl-layout__drawer charli-drawer mdl-color--teal-100">
    <header class="charli-drawer-header mdl-color--teal-900">
        {% block drawer_title %}
            <span class="mdl-layout-title">CHARLIDJANGO</span>
        {% endblock drawer_title %}
        
    </header>
    
    <nav class="charli-navigation mdl-navigation">
        {% block sidebar_nav %}
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">inbox</i>Inbox</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">delete</i>Trash</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">report</i>Spam</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">forum</i>Forums</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">flag</i>Updates</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">local_offer</i>Promos</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">shopping_cart</i>Purchases</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--teal-700 material-icons" role="presentation">people</i>Social</a>
        {% endblock sidebar_nav %}
    </nav>
    
    
</div>

<main class="mdl-layout__content">
    {% block page_content %}
        <div class="page-content charli-grid">
            
            {% include 'partials/page_content.html' %}
            
        </div>
    {% endblock page_content %} 
</main>