{% block page_head %}
{% endblock page_head %}

{% block page_body %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">6 (8 tablet)</div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-card mdl-shadow--2dp">4 (6 tablet)</div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-card mdl-shadow--2dp">2 (4 phone)</div>
</div>
            
{% endblock page_body %}

{% block page_footer %}
            
{% endblock page_footer %}