{% load static %}

<header class="header-section">
    <div class="container-fluid">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <nav class="main-menu mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="how-it-works.html">Explore</a></li>
                <li><a href="listings.html">More Cities</a></li>
                <li><a href="{% url 'blog' %}">News</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div class="header-right">
            <div class="user-access">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <a href="{% url 'logout' %}">Logout</a>
                <a href="" class="primary-btn ml-4">Add Listing</a>
            {% endif %}
            </div>
            
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>